.container {
    max-width: 700px;
}
.span3 {  
    height: 250px;
    overflow: auto;
}

.value {
   max-width: 70px; 
}

goRight {
    text-align: right;
}

input {
    text-align: center;
}